 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

 :root{

    --theme-background-color:#1d1d1d ;
    --theme-color:#ffdd40 ;
    --theme-sub-text-color:#ffffff;
    --theme-nav-background-color:#181818;
 }
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
 }
 html{
     /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
 }
 body{
    /*  background actually is a shorthand for

background-color  
background-image  
background-position  
background-repeat  
background-attachment  
background-clip  
background-origin  
background-size */
    background: var(--theme-background-color);
    height:100%;
 }
 #root{
    height: 100%;
 }